h1, h2, p{
    margin: 0;
}

.first-title{
    text-decoration: underline;
    font-weight: bold;
}

.int{
color: lightblue;
font-weight: 200;
}

h1{
     display: flex;
    justify-content:center;
}
img{
    height: 115px;
    margin-right: 20px;
}

.a {
    font-size: small;
}

input{
    background-color: #F1F4FB;
    border-color: transparent;
    border-radius: 50px;
    
}

.basique{
    width: 100%;
}

.ligne {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.gauche, .droite{
    width: 45%;
}

.separateur{
    width: 0px;
    border-left: 2px solid #000000;
    border-right: 1px solid #EA932F;
    margin: 0 15px
}

.er{
     display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.bouton {
    margin-top: 6px;
}

.tabl {
    width: 225px;
}

.separateur s{
    width: 0px;
    border-left: 2px solid #000000;
    border-right: 1px solid #EA932F;
    margin: 0 5px
}