h1, h2, p, h3, h4, label{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
 
.titre{
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sous-titre{
    font-weight: 800;
}

.sous_sous_titre{
    margin-block-end: 0px;
    font-weight: 600;
}

label{
font-weight: 400;
font-size: medium;
}

h1{
     display: flex;
    justify-content:center;
    height: 115px;
    margin-right: 20px;
}

input{
    background-color: #F1F4FB;
    border-color: transparent;
    border-radius: 50px;
    
}

.basique{
    width: 100%;
}

.haut {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.gauche, .droit{
    width: 45%;
}

.separateur{
    width: 0px;
    border-left: 2px solid #000000;
    border-right: 1px solid #EA932F;
    margin: 0 15px
}

.centre{
     display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.bouton {
    margin-top: 6px;
}

.separateur-2{
    width: 0px;
    border-left: 2px solid #000000;
    border-right: 1px solid #EA932F;
    margin: 0 5px
}

textarea{
    height: 50px;
    width: 100%;
}

.envoyer{
    border-color: transparent;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    background-color: #EA932F;
    font-size:large;
    margin-top: 50px;
}

.parent-envoyer{
    display: flex;
    justify-content: end;
}

.bg-white{
    background-color: white;
    padding: 25px;
    height: 100vh;
    overflow-y: scroll;
}

body{
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    background-image:url(./2149966932.jpg);
    background-size: cover;
    height: 100vh;
    
}